@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--color-yellow);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 1.5rem;
  }
}

.card {
  background-color: #fff;
  max-width: 384px;
  max-height: 522px;
  padding: 1.5rem;
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 black;
}

.card__img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card__content__category {
  font-size: 0.875rem;
  font-weight: bold;
  background-color: var(--color-yellow);
  padding: 4px 12px;
  border-radius: 4px;
  margin-top: 1rem;
  display: inline-block;
}

.card__content__date {
  font-size: 0.875rem;
  margin: 1rem 0;
}

.card__content h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.card__content h1:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.card__content__text {
  color: var(--color-gray-500);
  line-height: 150%;
  margin-bottom: 1.5rem;
}

.card__author {
  display: flex;
  align-items: center;
}

.card__author img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
